{% extends 'nav.html' %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <title>My Orders</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- @ts-ignore -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <h1 class="text-center mb-4">My Orders</h1>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Products</th>
                            <th>Date</th>
                            <th>Sub total</th>
                            <!-- <th>Review</th> -->
                            <!-- <th>address</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>#{{ order.id }}</td>
                            <td>
                                <div class="d-flex" style="flex-direction: column;">
                                    {% for item in order_items %}
                                        {% if item.order.id == order.id %}
                                        <div class="d-flex" style="gap: 1rem;">
                                            <p>{{ item.product.brand }} {{ item.product.model }} - {{ item.quantity }} Nos.</p>
                                            <button class="btn-warning" data-toggle="modal" data-target="#exampleModal{{ item.id }}" style="height: 20px; font-size: 10px !important;">Write review</button>
                                        </div>
                                        {% endif %}
                                        <div class="modal fade" id="exampleModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">Review Order</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                <form action="submit-review" id="form{{ item.id }}" method="post"> {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{ item.id }}">
                                                    <textarea name="text" id="" cols="30" rows="10" placeholder="Write your review here..">{{ item.review }}</textarea>
                                                </form>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  

                                                  <button type="button" class="btn btn-primary" onclick="return SubmitReview({{ item.id }})">Submit</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                      
                                    {% endfor %}
                                </div>
                            </td>
                            <td>{{ order.date_added }}</td>
                            <td>{{ order.sub_total }}</td>
                            <!-- <td>
                                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal{{ order.id }}">
                                    Write Review
                                </button>
                            </td> -->
                            <!-- <td>{{ order.address }}</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <script>
    function SubmitReview(id) {
        $("#form"+id).submit();
    }
  </script>
</body>
</html>
{% endblock %}
